# Maven/Native build outputs
/target/
/src/main/resources/linux-x64/
/src/main/resources/darwin-x64/

# CMake builds for JNI layer
/src/main/c/sylvan-java/build/
/src/main/c/sylvan-java/target/

# IDE caches
/.idea/
/.vscode/
